:root {
  --color-1: #ff5f5d;
  --color-2: #3f7c85;
  --color-3: #00ccbf;
  --color-4: #72f2eb;
  --color-5: #747e7e;
  --color-grey-light: #ddd;
  --color-grey-medium: #aaa;
  --color-background: #f1f1f1;
  --color-black: #000;
  --color-white: #fff;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: var(--color-black);
  background-color: var(--color-background);
}

.container {
  width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
}

.container__chat {
  width: 50vw;
  max-height: 80vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr 3fr 0.3fr;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  grid-template-areas:
    'namespaces rooms current users'
    'namespaces rooms conversation users'
    'namespaces rooms input users';
}

.container__chat--namespaces {
  grid-area: namespaces;
  background-color: var(--color-3);
}

.container__chat--rooms {
  grid-area: rooms;
  background-color: var(--color-4);
}

.container__chat--current-room {
  grid-area: current;
  background-color: var(--color-grey-medium);
}

.container__chat--users {
  grid-area: users;
  background-color: var(--color-4);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user {
  padding: 0.2rem;
  font-size: large;
}

.container__chat--conversation {
  grid-area: conversation;
  background-color: var(--color-grey-light);
}

.container__chat--input {
  grid-area: input;
  background-color: var(--color-grey-medium);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.namespace,
.room {
  color: var(--color-5);
  background-color: var(--color-background);
  text-align: left;
  padding: 1rem;
  margin: 2rem;
  border: 2px solid var(--color-5);
  border-radius: 3px;
}

.namespace__icon {
  font-size: 5rem;
}

ul {
  text-align: left;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 1rem;
}

.current-room {
  padding: 1rem;
}
